SERVER_HOST=localhost
POSTGRES_HOST=localhost
SERVER_PORT=8080
POSTGRES_PORT=5432

POSTGRES_USER=TestUser
POSTGRES_PASSWORD=Secret
POSTGRES_DB=TestDB

SERVER_READ_TIMEOUT=15
SERVER_WRITE_TIMEOUT=15
SERVER_IDLE_TIMEOUT=15
SERVER_SHUTDOWN_TIMEOUT=15