# Server Configuration
SERVER_HOST=localhost
SERVER_PORT=8080
SERVER_READ_TIMEOUT=15
SERVER_WRITE_TIMEOUT=15
SERVER_IDLE_TIMEOUT=15
SERVER_SHUTDOWN_TIMEOUT=15

# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=TestUser
POSTGRES_PASSWORD=Secret
POSTGRES_DB=TestDB

# Authentication Configuration
JWT_SECRET=my_super_secret_hackathon_key
JWT_EXPIRATION_HOURS=24

# Tests Configuration
API_URL=http://backend:8080
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=1111

# Fakedata Configuration
FAKEDATA_REQUESTS_COUNT=100
FAKEDATA_ARRIVALS_COUNT=10
FAKEDATA_LOGISTICIAN_COUNT=5
FAKEDATA_DRIVER_COUNT=20
FAKEDATA_MANAGER_COUNT=20
FAKEDATA_SKU_MIN=10
FAKEDATA_SKU_MAX=30